In [ ]:
# Question 1

In [61]:
A = [1,2,3,4,5,6]
B = [13,21,34]

In [62]:
A.extend(B)

In [63]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [ ]:
# Question 2

In [83]:
u = np.identity(3)

In [84]:
u

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [85]:
k = np.eye(3)

In [86]:
k

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
# Question 3

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(url, error_bad_lines = False)

In [96]:
fuel_data.sample(6)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
6347,f1_fuel_1999_12_32_2_9,32,1999,lombard,gas,mcf,198561.0,1.021,2.78,2.780,2.723
17695,f1_fuel_2008_12_51_1_4,51,2008,sl combined cycle,gas,mcf,9071790.0,1.025,6.88,6.879,6.713
6986,f1_fuel_2000_12_44_2_2,44,2000,northeast,gas,mcf,210370.0,1.055,3.25,3.250,3.078
173,f1_fuel_1994_12_44_0_2,44,1994,belle river (total),coal,ton,4996518.0,18.706,27.62,27.620,1.476
1701,f1_fuel_1995_12_108_0_7,108,1995,reid gardner 123,coal,ton,968902.0,23.576,37.57,35.570,1.601
9530,f1_fuel_2002_12_195_4_13,195,2002,edgewater 4,coal,ton,302230.0,17.676,24.56,22.680,1.341

In [ ]:
#Question 3

In [206]:
fuel_data.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
#Question 4

In [99]:
round(fuel_data['fuel_mmbtu_per_unit'].describe(),2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

In [ ]:
# Question 5

In [110]:
round(fuel_data['fuel_qty_burned'].skew(),2)

15.85

In [111]:
round(fuel_data['fuel_qty_burned'].kurtosis(),2)

651.37

In [ ]:
# Question 6

In [166]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [171]:
k = fuel_data.isnull().sum()

total = k.max()
percent = (total/fuel_data.shape[0]) * 100

In [172]:
# return column with max missing values
total

180

In [175]:
# rounding the percent of missing values in overall
round(percent,3)

0.61

In [188]:
# Question 8

In [194]:
corr_matrix = fuel_data.corr()
corr_matrix
#fuel_data.corr(fuel_data['fuel_cost_per_unit_burned'])

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [196]:
corr_matrix['fuel_cost_per_unit_burned'].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
# Questinm 9

In [198]:
fuel_data[fuel_data['fuel_type_code_pudl'] == 'coal']

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.12100
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.12000
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.65000
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.97000
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.85000
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.36000
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.40000
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.27800
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.28000
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.20800
15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.81200
16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.80600
17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.40400
18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.82900
20,f1_fuel_1994_12_6_1_7,6,1994,mountainr,coal,ton,2837040.0,24.526000,39.911,38.717,1.62700
22,f1_fuel_1994_12_6_1_10,6,1994,philip sporn-apco,coal,ton,383043.0,24.334000,39.850,35.856,1.63800
24,f1_fuel_1994_12_6_1_13,6,1994,philip sporn ttl plt,coal,ton,1338459.0,24.334000,40.144,35.793,1.65000
26,f1_fuel_1994_12_7_0_1,7,1994,"cholla units 1,2,3",coal,ton,2062799.0,19.970000,31.520,31.200,1.58000
29,f1_fuel_1994_12_7_0_7,7,1994,4 corners,coal,ton,2599962.0,17.530000,21.170,20.860,1.21000
31,f1_fuel_1994_12_7_0_10,7,1994,4 corners,coal,ton,867805.0,17.520000,21.990,21.050,1.26000
38,f1_fuel_1994_12_7_1_10,7,1994,"navajo 1,2,3",coal,ton,1063986.0,22.028000,24.020,23.640,1.09000
48,f1_fuel_1994_12_9_0_2,9,1994,b.l. england,coal,ton,576688.0,24.294000,44.920,43.550,1.85900
50,f1_fuel_1994_12_9_0_5,9,1994,deepwater,coal,ton,148643.0,24.168000,49.350,45.670,2.04200
55,f1_fuel_1994_12_9_1_8,9,1994,keystone,coal,ton,100891.0,24.554000,37.290,36.790,1.51900
56,f1_fuel_1994_12_9_1_11,9,1994,conemaugh,coal,ton,159698.0,24.878000,31.440,30.120,1.26600
70,f1_fuel_1994_12_10_0_4,10,1994,brandon shores,coal,ton,3504305.0,24.998000,40.560,37.550,1.62000
77,f1_fuel_1994_12_10_1_7,10,1994,wagner,coal,ton,848825.0,25.976000,42.180,37.540,1.62000
79,f1_fuel_1994_12_10_1_13,10,1994,crane,coal,ton,720527.0,26.010000,39.970,37.420,1.54000
81,f1_fuel_1994_12_10_3_1,10,1994,keystone *,coal,ton,856362.0,24.574000,37.290,0.000,1.52000
82,f1_fuel_1994_12_10_3_7,10,1994,conemaugh*,coal,ton,432455.0,24.876000,32.150,0.000,1.29000
...,...,...,...,...,...,...,...,...,...,...,...
29387,f1_fuel_2018_12_57_0_13,57,2018,scherer,coal,ton,2663992.0,16.636000,42.965,42.965,2.58300
29392,f1_fuel_2018_12_57_1_13,57,2018,hammond,coal,ton,98785.0,23.644000,77.986,77.986,3.29800
29396,f1_fuel_2018_12_57_3_10,57,2018,wansley,coal,ton,791341.0,23.348000,70.520,70.520,3.02000
29397,f1_fuel_2018_12_227_0_1,227,2018,campbell #3,coal,ton,62507.0,21.250000,68.565,43.126,4.50900
29404,f1_fuel_2018_12_178_0_1,178,2018,east bend,coal,ton,1267562.0,24.270000,44.023,43.868,1.81400
29407,f1_fuel_2018_12_294_0_1,294,2018,gibson unit 5,coal,ton,410727.0,22.444000,45.230,45.240,1.96600
29410,f1_fuel_2018_12_294_0_7,294,2018,prairie state,coal,ton,324527.0,16.838000,21.050,21.050,1.25000
29414,f1_fuel_2018_12_51_0_7,51,2018,asbury,coal,ton,519159.0,17.282000,40.396,36.779,2.33700
29419,f1_fuel_2018_12_51_0_13,51,2018,iatan (1&2),coal,ton,501144.0,17.188000,28.100,26.647,1.63500
29424,f1_fuel_2018_12_51_1_10,51,2018,plum point,coal,ton,190745.0,17.560000,37.485,35.834,2.13500
29430,f1_fuel_2018_12_45_0_1,45,2018,belews creek,coal,ton,3018081.0,25.044000,79.110,78.750,3.17600
29432,f1_fuel_2018_12_45_0_4,45,2018,marshall,coal,ton,3239539.0,24.900000,76.440,79.080,3.07000
29434,f1_fuel_2018_12_45_0_7,45,2018,allen,coal,ton,388385.0,22.668000,74.250,78.060,3.27500
29439,f1_fuel_2018_12_45_1_7,45,2018,cliffside,coal,ton,2073829.0,23.940000,77.910,78.180,3.25500
29451,f1_fuel_2018_12_150_0_1,150,2018,colstrip 1 & 2,coal,ton,1138012.0,17.272000,37.148,35.991,2.15100
29452,f1_fuel_2018_12_150_0_4,150,2018,colstrip 3 & 4,coal,ton,1545484.0,16.968000,23.979,21.378,1.41300
29469,f1_fuel_2018_12_193_0_4,193,2018,elm road-total,coal,ton,3510661.0,18.340000,38.385,38.385,2.09295
29473,f1_fuel_2018_12_193_0_13,193,2018,pleasant prairie-tot,coal,ton,1232699.0,17.038000,27.886,27.886,1.63672
29475,f1_fuel_2018_12_193_1_1,193,2018,presque isle-total,coal,ton,1029238.0,18.024000,42.557,42.557,2.36112
29479,f1_fuel_2018_12_193_1_10,193,2018,so oak creek-total,coal,ton,2784916.0,17.568000,36.526,36.526,2.07912
29485,f1_fuel_2018_12_80_0_8,80,2018,la cygne #1 (50%),coal,ton,662697.0,17.551711,35.702,36.225,2.03400
29487,f1_fuel_2018_12_80_0_11,80,2018,la cygne #2 (50%),coal,ton,936505.0,17.153117,32.097,32.279,1.87100
29489,f1_fuel_2018_12_80_0_14,80,2018,jeffrey 20%,coal,ton,1305589.0,16.673733,29.805,29.975,1.78800
29492,f1_fuel_2018_12_191_0_2,191,2018,tecumseh,coal,ton,199537.0,15.236282,28.963,26.067,1.90100
29501,f1_fuel_2018_12_191_1_8,191,2018,jeffrey (jec),coal,ton,4189920.0,16.673825,29.799,29.970,1.78700
29503,f1_fuel_2018_12_191_1_14,191,2018,lawrence,coal,ton,1761218.0,17.888320,26.775,27.392,1.49700
29510,f1_fuel_2018_12_403_0_2,403,2018,wygen 2,coal,ton,569800.0,16.110000,14.760,0.810,1.13000
29516,f1_fuel_2018_12_12_0_8,12,2018,neil simpson unit 2,coal,ton,491913.0,16.100000,14.760,17.720,1.10000
29517,f1_fuel_2018_12_12_0_10,12,2018,wyodak - bhp 20%,coal,ton,409637.0,16.068000,13.690,14.310,0.89000
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108000,3.060,14.760,1.11000

In [ ]:
# QUestion 10

In [204]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64